Hola Mundo!!!
<div class="container">
<% @posts.each do |post| %>

		<h2> <%= post.title %> </h2>
		<p> <%= post.description %></p>
		<p> <%= post.author %> </p>
		<p><%= post.tags.map(&:name) %></p>
		<a href="/posts/ <%= post.id %>">Show</a>
		<%= button_to "Delete this", post_path(post), method: :delete %>


<% end %>
</div>

